# git log --pretty=format:"\`%h <https://www.github.com/MilanSkocic/C_extension_demo/commit/%h>\`_ - %an, %ad : %s" > out.txt

# files to be ignored in all tutorials
*.so
*.dll
*.dylib
*.pyd
*.pyc
*.png
*.mp4

.idea
.vscode
.mypy_cache
.venv

# pipenv files
Pipfile
Pipfile.lock
